__pycache__/
*.py[cod]
venv/
env/
.pytest_cache/


medical_warehouse/target/
medical_warehouse/dbt_packages/
medical_warehouse/logs/

data/raw/
data/processed/
*.jpg
*.png
*.mp4

.env
.env.local
.env.*.local


.vscode/
.idea/
*.swp


.DS_Store
Thumbs.db

venvm/

!models/**/*.sql

logs/
*.log

*.csv
*.json
*.sql
*.pt

target/
dbt_packages/
logs/
profiles.yml
venv/
.venv/
__pycache__/
.pytest_cache/
target/
dbt_packages/